.container {
    background-color: whitesmoke;
    height: fit-content;
    padding: 10px;
}

.header {
    background-color: rgb(0, 225, 255);
    width: 100%;
}

.top-side {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar {
    margin-bottom: 10px;
}

.row {
    background-color: rgb(241, 216, 235);
    margin: 1px;
    padding: 10px;
}

.right-nav {
    background-color: rgb(217, 255, 0);
    width: 255px;
    height: 300px;
    text-align: left;
    padding-left: 7px;
    -webkit-border-radius: 0 0 30px 0;
    border-radius: 0 0 30px 0;
    font-family: monospace;
    margin-right: -50px;
}

.content-box {
    margin-right: 0px;
}

.img-set {
    margin-top: 10px;
    margin-left: 0px;
    width: 90%;
}

.content-text {
    text-align: justify;
    max-width: 90%;
}

.right-nav-text {
    color: white;
    font-size: medium;
    font-family: sans-serif;
    font-style: oblique;
}

.right-nav-box {
    padding: 20px;
    background-color: silver;
    margin-left: 15px;
}